.card-title {
    font-size: 1.5rem;
}

.card-text {
    margin-bottom: 1rem;
}

/* Contenedor de Opciones y Diagrama */
#options {
    display: flex;
    justify-content: center; /* Esto centrará los elementos a lo largo del eje principal (horizontal) */
    flex-wrap: wrap; /* Esto permitirá que los elementos se ajusten en filas según el ancho disponible */
    padding: 1%;
    border-radius: 0.7rem;
    width: 80%;
    margin: 2% auto; /* Alinea al centro y añade margen arriba y abajo */
    background-color: #eeeeee;
    box-shadow: 0px 2px 5px rgba(22, 22, 22, 0.3);
}

/* Interacción con los Botones y Opciones */
#options a {
    width: 20%;
    margin: 1rem; /* Modificado para tener margen uniforme alrededor de los enlaces */
    border-radius: 0.5rem;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #151516;
    transition: 0.2s ease-in-out;
}

/* Interacción con los Botones */
#options a:hover {
    background-color: #333;
}

/* Estilos del Diagrama */
.programming-stats {
    justify-content: center; /* Esto centrará los elementos a lo largo del eje principal (horizontal) */
    padding: 1%;
    border-radius: 0.7rem;
    width: 80%;
    margin: 2% auto; /* Alinea al centro y añade margen arriba y abajo */
    background-color: #eeeeee;
    box-shadow: 0px 2px 5px rgba(22, 22, 22, 0.3);  
}

.programming-stats .chart-container {
    background-color: #fff; /* Fondo blanco para el contenedor del diagrama */
    box-shadow: 0 2px 5px rgba(22, 22, 22, 0.3);
    margin-top: 1rem;
    padding: 1rem;
    height: auto; /* Esto hará que la altura se ajuste al contenido */
    width: 20%; /* El canvas llenará el contenedor .programming-stats */
}

.chart-heading {
    font-family: "Rubik", sans-serif;
    color: #023047;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}

.chart-container {
    /* Actualizar el margin-top para un valor menor */
    margin-top: 2%; /* Ajusta este valor según sea necesario para que se alinee bien */
    width: 150px;
    background-color: #fff; /* Fondo blanco para el contenedor del diagrama */
    box-shadow: 0 2px 5px rgba(22, 22, 22, 0.3);
    padding: 1rem;
}


.programming-stats:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 16px -7px rgba(22, 22, 22, 0.3);
}

.programming-stats .details ul {
    list-style: none;
    padding: 0;
}

.programming-stats .details ul li {
    font-size: 16px;
    margin: 12px 0;
    text-transform: uppercase;
}

.programming-stats .details .percentage {
    font-weight: 700;
    color: #000000;
}